@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron bg-primary mt-3 mb-3">
        <h1 class="font-weight-bold text-white">Stopify Web Shop</h1>
        <hr class="bg-white hr-2" />
        <h3 class="text-white">Have a nice shopping experience!</h3>
    </div>