<hr class="bg-success" style="height: 2px" />
<main>
    <div class="album-details d-flex justify-content-between row">
        <div class="album-data col-md-5">
            <img src="@Model.Cover" class="img-thumbnail" />
            <h1 class="text-center">Album Name: @Model.Name</h1>
            <h1 class="text-center">Album Price: $@Model.Price</h1>
            <div class="d-flex justify-content-between">
                <a class="btn bg-success text-white" href="/Tracks/Create?albumId=@Model.Id">Create Track</a>
                <a class="btn bg-success text-white" href="/Albums/All">Back To All</a>
            </div>
        </div>
        <div class="album-tracks col-md-6">
            <h1>Tracks</h1>
            <ul>
                @for(int i = 0; i < Model.Tracks.Count(); i++)
                { var track = Model.Tracks.ToList()[i];
                    <li>
                        <strong>@(i+1)</strong>.
                        <a href="/Tracks/Details?albumId=@Model.Id&trackId=@track.Id">@track.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</main>
