@using MoiteRecepti.Common
@model MoiteRecepti.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="button" asp-controller="GatherRecipies" asp-action="Add">Add Data</a>
</div>
