<hr class="bg-success" style="height: 2px" />
<main>
    <div class="track-details">
        <h4 class="text-center">Track Name: Name</h4>
        <h4 class="text-center">Track Price: Price</h4>
        <hr class="bg-success w-50" style="height: 2px" />
        <div class="d-flex justify-content-center">
            <iframe src="Link" class="w-50" height="480"></iframe>
        </div>
        <hr class="bg-success w-50" style="height: 2px" />
        <div class="d-flex justify-content-center">
            <a href="/Albums/Details?id=Id" class="btn bg-success text-white">Back To Album</a>
        </div>
    </div>
</main>