<main>
    <h1 class="text-center text-panda">Register</h1>
    <hr class="bg-panda w-50" style="height: 2px" />
    <form class="w-50 mx-auto" action="/Users/Register" method="POST">
        <div class="form-group">
            <label for="username" class="text-panda">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username..." />
        </div>
        <div class="form-group">
            <label for="email" class="text-panda">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email..." />
        </div>
        <div class="form-group">
            <label for="password" class="text-panda">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password..." />
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="text-panda">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password..." />
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn bg-panda text-white" style="background: black">Register</button>
        </div>
    </form>
</main>