<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>MUSACA</title>
    <link rel="stylesheet" type="text/css" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        @if(User == null)
        {
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-musaca">
                <a class="navbar-brand nav-link-white" href="/">MUSACA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                    <ul class="navbar-nav"></ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white active" href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-white active" href="/Users/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-white active" href="/Users/Register">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        }
        @else
        {
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-musaca">
                <a class="navbar-brand nav-link-white" href="/">MUSACA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white active" href="/Products/All">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-white active" href="/Products/Create">Create Product</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white active" href="/Users/Profile">Pesho</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-white active" href="/Users/Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        }
        @RenderBody()
        <footer>
            <div class="container-fluid bg-musaca">
                <div class="text-white p-2 text-center">
                    &copy; CopyRight Sanity Web Design Studios 2019. All rights
                    reserved.
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
