<h1>Hello AJAX!</h1>

<form id="reqTokenForm" method="post"></form>

<table id="DataTable" class="table table-sm table-striped">
    <tr>
        <td>Niki</td>
        <td>2020-11-13</td>
    </tr>
    <tr>
        <td>Stoyan</td>
        <td>2020-11-14</td>
    </tr>
</table>

<button onclick="RefreshData()" class="btn btn-success">Refresh</button>

<script>
    function RefreshData() {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var people = JSON.parse(this.responseText);
                document.getElementById("DataTable").innerHTML = '';
                for (var i = 0; i < people.length; i++) {
                    var person = people[i];
                    document.getElementById("DataTable").innerHTML +=
                        "<tr><td>" + person.name + "</td><td>" + person.date + "</td></tr>";
                }
                // TODO: Change the data in the table
            }
        };
        xhr.open("GET", "/Home/AjaxDemoData");
        xhr.send();
    }
</script>