@{
}

<partial name="_HomePageStart" />

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section Links {
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://bing.com">Bing</a>
    </li>
}