@{
}

<partial name="_HomePageStart" />

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section Links {
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://bing.com">Bing</a>
    </li>
}

<div id="mapdiv" style="width: 300px; height: 300px;"></div>

@section Scripts {
    <script>
        document.getElementsByTagName("h1")[0].remove();
    </script>

    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <script>
        map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var lonLat = new OpenLayers.LonLat(-0.1279688, 51.5077286)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );

        var zoom = 14;

        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        markers.addMarker(new OpenLayers.Marker(lonLat));

        map.setCenter(lonLat, zoom);
    </script>
}