@model Stopify.Web.InputModels.ProductTypeCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-30 mx-auto rounded">Create Product Type</h1>
<form method="post" action="/Administration/Product/Type/Create" class="form border-primary-4 rounded p-3 w-30 mx-auto mt-3">
    <div class="form-group mx-auto">
        <div class="d-flex justify-content-center">
            <label asp-for="Name" class="text-primary h5">Name</label>
        </div>
        <input type="text" class="form-control text-primary text-center" id="name" placeholder="Name..."
               asp-for="Name">
    </div>
    <hr class="hr-2 bg-primary mt-4">
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary font-weight-bold">Create Product Type</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
