<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">IRunes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Albums/All">Albums</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Users/Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<hr class="bg-success" style="height: 2px" />
<main>
    <h1>Albums</h1>
    <hr class="bg-success" style="height: 2px" />
    <a class="btn bg-success text-white" href="/Albums/Create">Create Album</a>
    <hr class="bg-success" style="height: 2px" />
    <div id="albums">
        @if(Model.Count() > 0)
        {
            @foreach(var album in Model)
            {
                <h3>
                    <a href="/Albums/Details?id=@album.Id">@album.Name</a>
                </h3>
            }
        }
    </div>
</main>
