<h1 class="text-center"><span class="badge badge-pill badge-dark">Details</span></h1>
<div class="container-fluid bg-blur w-50 text-center">
    <h2 class="text-white text-center">@Model.Name</h2>
    <h5 class="text-center mb-2 mt-2 d-inline"><span class="badge badge-pill badge-primary">@Model.Gender</span></h5>
    <h5 class="text-center mb-2 mt-2 d-inline"><span class="badge badge-pill badge-warning">@Model.Category</span></h5>
    <img src="@Model.ImageUrl" class="img-fluid d-block mt-2 mr-auto ml-auto" width="200" height="200" />
    <h3 class="text-white text-center mt-2">@Model.Description</h3>
    <h3 class="text-white text-center">@Model.Price</h3>
    <a href="/Products/Delete?id=@Model.Id" class="btn btn-danger text-white mt-2">Delete Product</a>
</div>