@using  Microsoft.AspNetCore.Hosting
@using  Microsoft.Extensions.Configuration
@using MyFirstMvcApp.Services
@model IndexViewModel
@inject IHostingEnvironment EnvService
@inject IConfiguration Configuration
@inject  ICounterService Counter
@{
    ViewData["Title"] = "Home Page";
}

<div>@Counter.GetCount()</div>

@for (int i = 0; i < 10; i++)
{
    <div class="findMe"></div>
}

@section  Scripts
{
<script>
    $(".findMe").remove();
</script>
}