<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#">IRunes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Albums/All">Albums</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Users/Logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<hr class="bg-success" style="height: 2px" />
<main>
    <div class="jumbotron bg-success text-white">
        <h1>Welcome, <span class="text-warning">@{Model.Username}&</span></h1>
        <hr class="bg-white" style="height: 2px" />
        <h2>IRunes wishes you a fun experience.</h2>
    </div>
</main>
