@using Stopify.Web.ViewModels
@model Stopify.Web.InputModels.ProductCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Create Product</h1>
<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Name" class="text-primary h5">Name</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="name"
                   placeholder="Name..."
                   asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Price" class="text-primary h5">Price</label>
            </div>
            <input type="number"
                   step="0.01"
                   class="form-control text-primary text-center"
                   id="price"
                   placeholder="Price..."
                   asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div id="date-and-picture-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="ManufacturedOn" class="text-primary h5">Manufactured On</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="manufacturedOn"
                   placeholder="Manufactured On..."
                   asp-for="ManufacturedOn">
            <span asp-validation-for="ManufacturedOn" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Picture" class="text-primary h5">Picture</label>
            </div>
            <input type="file"
                   class="form-control text-primary text-center"
                   id="picture"
                   placeholder="Picture..."
                   asp-for="Picture">
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
    </div>
    <hr class="hr-2 bg-primary mt-4">
    <div class="form-group mx-auto w-45">
        <div class="d-flex justify-content-center">
            <label asp-for="ProductType" class="text-primary h5">Product Type</label>
        </div>
        <select class="form-control text-primary" id="type" asp-for="ProductType">
            <option selected disabled>--- Select Product Type ---</option>
            @foreach (var type in (IEnumerable<ProductCreateProductTypeViewModel>)this.ViewData["types"])
            {
                <option value="@type.Name">@type.Name</option>
            }
        </select>
        <span asp-validation-for="ProductType" class="text-danger"></span>
    </div>
    <hr class="hr-2 bg-primary mt-4">
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary font-weight-bold">Create Product</button>
    </div>
</form>


<script>
    window.onload = () => {
        $('#manufacturedOn').datetimepicker({
            format: 'd.m.Y H:i',
            lang: 'en'
        });
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
