<main class="mt-3">
    <h1 class="text-center suls-text-color">Problem Details - @Model.Name</h1>
    <div class="top-border-line primary-separator"></div>
    <div class="text-center suls-text-color">Problem Submissions</div>

    <div class="container-fluid ml-5">
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-lg-3 suls-text-color">User</th>
                    <th scope="col" class="col-lg-3 suls-text-color">Achieved Result</th>
                    <th scope="col" class="col-lg-3 suls-text-color">Submitted On</th>
                    <th scope="col" class="col-lg-3 suls-text-color">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row">
                    <td class="col-lg-3 suls-text-color">@problem.Username</td>
                    <td class="col-lg-3 suls-text-color">@problem.AchievedResult / @problem.MaxPoints</td>
                    <td class="col-lg-3 suls-text-color">@problem.CreatedOn</td>
                    <td class="col-lg-3 suls-text-color">
                        <div class="button-holder">
                            <a href="/Submissions/Delete?id=@problem.SubmissionId" class="btn btn-warning">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
