@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<h1 class="text-center">You should not be able to see this!</h1>
<h2 class="text-center">If you do, contact your administrator, as you are in grave danger.</h2>