<hr class="bg-success" style="height: 2px" />
<main>
    <h1 class="text-center text-success">Login</h1>
    <hr class="bg-success w-50" style="height: 2px" />
    <form class="w-50 mx-auto" action="/Users/Login" method="POST">
        <div class="form-group">
            <label for="username">Username / Email</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="Username / Email..." />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password..." />
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn bg-success text-white" type="submit">Login</button>
        </div>
    </form>
</main>